/**
 * Sphinx stylesheet -- sphinxdoc theme
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 * Originally created by Armin Ronacher for Werkzeug, adapted by Georg Brandl.
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: 'Helvetica Neue', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 100%;
    line-height: 150%;
    text-align: center;
    background-color: white;
    color: black;
    padding: 0;
    border: 1px solid #aaa;
    margin: 0px 0px 0px 0px;
    border-top: 1em solid #329fd7;

}

div.documentwrapper {
    float: left;
    width: 70%; 
}

div.document {
    float: none;
    background-image: none;
    background-color: white;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    clear: both;
}


div.document dt {
    font-weight: bold;
    }

div.bodywrapper {
    margin: 0 0 0 0;
    border-right: 0px solid #fff;
}

div.body {
    margin: 0;
    padding: 0.5em 20px 20px 20px;
}

div.body p.caption{
    padding-left: 1em;
    margin-bottom: 0em
    }

.figure img {
    border: solid 1px;
    }

div.related {
    font-size: 1em;
    font-weight: bold;
    background-image: none;
}

div.related ul {
    background-color: white;
    height: 2em;
    border-bottom: 0px solid #ddd;
    background-image: url("./sprite-ploneorg.png");
    background-position: left -870px;
    background-repeat: repeat-x;
    padding-left: 3em;
    padding-right: 2.5em;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
    padding-top: 3px;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 1.75em;
    color: black;
}

div.related ul li a:hover {
    color: #0083BE;
}

#footrelbar {
    background-image: none;
}

div.figure {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f6f6f6;
    }

div.sphinxsidebarwrapper {
    padding: 0;
    background-color: #F6F6F6;
}

div.sphinxsidebar {
    margin: 0;
    padding: 0.5em 15px 15px 0;
    font-size: 100%;
    text-align: left;
    float: right;
    width: 28%
}

div.portletheader {
		  background-color:#76AD17;
		  border-bottom-color:#63A100;
		  border-bottom-style:solid;
		  border-bottom-width:1em;
		  color:White;
		  font-size:1.2em;
		  height:1em;
		  letter-spacing:0;
		  line-height:2em;
		  margin-bottom:0;
		  margin-left:-1px;
		  margin-right:-1px;
		  margin-top:0px;
		  padding-bottom:0;
		  padding-left:0.5em;
		  padding-right:0.5em;
		  padding-top:0;
}




div.portletheader a {
    color: white;
}

div.sphinxsidebar ul {
    padding-left: 1.5em;
    margin-top: 7px;
    line-height: 130%;
}

div.sphinxsidebar ul ul {
    margin-left: 20px;
}

.topless {
    padding-left: 0.5em;
    padding-right: 0.5em:
}

.logo {
    background-color: white;
    margin-bottom: 1px
}

p.logo {
}
    
div.footer {
    background-color: #404040;
    color: #fff;
    padding: 3px 42px 3px 0;
    clear: both;
    font-size: 0.8em;
    text-align: right;
}

div.footer a {
    color: #86989B;
    text-decoration: underline;
}

/* -- body styles ----------------------------------------------------------- */

p {    
    margin: 0.8em 0 0.5em 0;
}

a {
    color: #205C90;
    text-decoration: none;
}

a:hover {
    color: #2491CF;
}

div.body a {
    text-decoration: underline;
}

h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 1.825em;
    color: black;
    letter-spacing: -0.01em;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    font-size: 1.45em;
    padding: 0;
    color: #444
}

h3 {
    margin: 1em 0 -0.3em 0;
    font-size: 1.25em;
    color: #444;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: black!important;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

a.headerlink {
    color: #c60f0f!important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;
}

a.headerlink:hover {
    background-color: #ccc;
    color: white!important;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tt.descname, tt.descclassname, tt.xref {
    border: 0;
}

hr {
    border: 1px solid #abc;
    margin: 2em;
}

a tt {
    border: 0;
    color: #CA7900;
}

a tt:hover {
    color: #2491CF;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #205C90;
    background-color: #f8f8f8;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 1px solid #205C90;
    font-weight: bold;
    background-color:  #205C90;
}

div.warning {
    border: 1px solid #940000;
}

div.warning p.admonition-title {
    background-color: #CF0000;
    border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #ccc;
    background-color: #DDEAF0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}